<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
    <title>anacondasniper.net</title>
</head>
<body>
<div class="app">
    <header class="topbar">
        <span class="topbar-title">anacondasniper.net</span>
    </header>
    <main class="main">
		<div class ="home-box">
			<h1>Hello {{ user }}! Welcome to anacondasniper.net</h1>
			<p>This site is to be used as an archive of my projects and programming progress.</p>
		</div>
    </main>
</div>
</body>
</html>
