<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
    <title>anacondasniper.net</title>
</head>
<body>
<div class="app">
    <header class="topbar">
        <a class="topbar-title" href="/">anacondasniper.net</a>
        <div class="nav-links">
            <a class="text-link" href="/projects">Projects</a> /
            <a class="text-link" href="/about">About Me</a> /
            <a class="text-link" href="">Forums</a> /
            <a class="text-link" href="">Contact Me</a>
        </div>
    </header>
    <main class="main">
        <div class="home-box">
            <p>{{ month }}-{{ day }}-{{ year }}   :   {{ hour }}:{{ minute }}:{{ second }}   :   Day {{ day_count }}</p>
            <pre>
             ____
            / . .\
            \  ---<
             \  /
   __________/ /
-=:___________/
			</pre>
            <h1>Hello World! Welcome to anacondasniper.net</h1>
            <p>This site is to be used as an archive of my projects and programming progress.</p>
        </div>
    </main>
</div>
</body>
</html>
